<div class="w3-center">

    <div class="w3-container w3-white w3-padding-16 myLink">

        <div class="w3-container">

            <div class="w3-responsive w3-card-4">
                <table class="w3-table w3-striped w3-bordered">
                    <thead>
                        <tr class="w3-blue">
                            <th>Banking Account(s)</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let banking of bankkingAccounts">
                            <td>{{banking.name}}</td>
                            <td>{{banking.balance}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div *ngIf="creditAccounts.length > 0" class="w3-responsive w3-card-4">
                <table class="w3-table w3-striped w3-bordered">
                    <thead>
                        <tr class="w3-blue">
                            <th>Credit Account(s)</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let credit of creditAccounts">
                            <td>{{credit.name}}</td>
                            <td>{{credit.balance}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div *ngIf="deposit" class="w3-section">
                <div class="w3-container w3-card-4">
                    <h5>Select an account</h5>
                    <div class="w3-third">
                        <table class="w3-table w3-striped w3-bordered">
                            <tbody>
                                <tr *ngFor="let account of holder.accounts" class="w3-black">
                                    <td class="w3-bar-item w3-button tablink" (click)="selectTransaction(account.name)">
                                        {{account.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="w3-half">
                            <input [(ngModel)]="transaction.amount" class="w3-input" type="text" required>
                            <i class="fa fa-envelope" style="width:30px"> </i><label>Amount</label>
                        </div>
                        <div class="w3-center">
                            <button type="button" class="w3-button w3-teal w3-margin-top" (click)="depositMoney()">Send
                                money</button>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="withdraw" class="w3-section">
                <div class="w3-container w3-card-4">
                    <h5>Select an account</h5>
                    <div class="w3-third">
                        <table class="w3-table w3-striped w3-bordered">
                            <tbody>
                                <tr *ngFor="let account of holder.accounts" class="w3-black">
                                    <td class="w3-bar-item w3-button tablink" (click)="selectTransaction(account.name)">
                                        {{account.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="w3-half">
                            <input [(ngModel)]="transaction.amount" class="w3-input" type="text" required>
                            <i class="fa fa-envelope" style="width:30px"> </i><label>Amount</label>
                        </div>
                        <div class="w3-center">
                            <button type="button" class="w3-button w3-teal w3-margin-top" (click)="withdrawMoney()">Get
                                money</button>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="transfer" class="w3-section">
                <div class="w3-container w3-card-4">
                    <div class="w3-half">
                        <h5>Select an account from</h5>
                        <table class="w3-table w3-striped w3-bordered">
                            <tbody>
                                <tr *ngFor="let account of holder.accounts" class="w3-black">
                                    <td class="w3-bar-item w3-button tablink" (click)="selectTransaction(account.name)">
                                        {{account.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="w3-half">
                        <h5>Select an account to</h5>
                        <table class="w3-table w3-striped w3-bordered">
                            <tbody>
                                <tr *ngFor="let account of holder.accounts" class="w3-black">
                                    <td class="w3-bar-item w3-button tablink"
                                        (click)="selectTransfer(account.name, null)">{{account.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <hr>
                        <h5>or enter email and use Zelle</h5>
                        <div class="w3-center">
                            <input [(ngModel)]="transaction.receiverEmail" class="w3-input" type="text" required>
                            <i class="fa fa-envelope" style="width:30px"> </i><label>Email</label>
                        </div>
                    </div>
                    <div class="w3-half">
                        <input [(ngModel)]="transaction.amount" class="w3-input" type="text" required>
                        <i class="fa fa-envelope" style="width:30px"> </i><label>Amount</label>
                    </div>
                    <div class="w3-center">
                        <button type="button" class="w3-button w3-teal w3-margin-top" (click)="transferMoney()">Send
                            money</button>
                    </div>
                </div>
            </div>

            <div *ngIf="apply" class="w3-section">
                <div class="w3-container w3-card-4">
                    <h5>Apply for an account</h5>
                    <div class="w3-third">
                        <div class="w3-half">
                            <input [(ngModel)]="transaction.accountName" class="w3-input" type="text" required>
                            <i class="fa fa-envelope" style="width:30px"> </i><label>Account Name</label>                            
                        </div>
                        <div class="w3-center">
                            <input [(ngModel)]="transaction.credit" class="w3-check" type="checkbox">
                            <label>Credit account?</label>
                            <br>
                            <button type="button" class="w3-button w3-teal w3-margin-top"
                                (click)="applyForAccount()">Process</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="w3-bar w3-black">
            <button class="w3-bar-item w3-button tablink" (click)="toggle('deposit')"><i
                    class="fa fa-plane w3-margin-right"></i>Deposit</button>
            <button class="w3-bar-item w3-button tablink" (click)="toggle('withdraw')"><i
                    class="fa fa-bed w3-margin-right"></i>Withdraw</button>
            <button class="w3-bar-item w3-button tablink" (click)="toggle('transfer')"><i
                    class="fa fa-car w3-margin-right"></i>Transfer</button>
            <button class="w3-bar-item w3-button tablink" (click)="toggle('apply')"><i
                    class="fa fa-car w3-margin-right"></i>Apply</button>
        </div>

    </div>