<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<body>

<header class="w3-container w3-padding" id="myHeader"
        style="background: linear-gradient(to right, #311f1c, #140d0c); color:white;">
    <div class="w3-center">
        <h1>SFOFANA EMAIL SERVICE</h1>
        <div class="w3-padding-32">
            <div class="w3-card w3-center">
                <img src="https://sufyan-fofana-portfolio.s3.us-east-2.amazonaws.com/assets/images/pro.png"
                     style="width:30%"></div>
        </div>
    </div>
</header>

<div class="w3-row-padding w3-center w3-margin-top">
    <div class="w3-center">
        <div class="w3-card w3-container" style="min-height:460px">
            <h3>NAME PLACEHOLDER</h3><br>
            <i class="fa fa-user w3-margin-bottom w3-text-red" style="font-size:120px"></i>
            <p>MESSAGE PLACEHOLDER</p>
            <p>Contact:</p>
            <p>EMAIL PLACEHOLDER</p>
            <p>PHONE PLACEHOLDER</p>
        </div>
    </div>

    <footer class="w3-container w3-padding-16"
            style="background: linear-gradient(to right, #311f1c, #140d0c); color:white;">
        <div class="w3-card w3-container" style="min-height:460px">
            <h3>Standard CSS</h3><br>
            <i class="fa fa-css3 w3-margin-bottom w3-text-white" style="font-size:120px"></i>
            <p>powered by W3.CSS</p>
        </div>
    </footer>

</body>
</html>