<div class="w3-half">
    <div class="w3-container w3-card-4">
        <h2>Sign-in</h2>
        <div class="w3-section">
            <input [(ngModel)]="profile.email" class="w3-input" type="text" required>
            <i class="fa fa-envelope" style="width:30px"> </i><label>Email</label>
        </div>
        <div class="w3-section">
            <input [(ngModel)]="profile.password" class="w3-input" type="text" required>
            <i class="fa fa-lock" style="width:30px"> </i><label>Password</label>
        </div>
        <div *ngIf="message" class="w3-section">
            <p>{{message}}</p>
        </div>
        <div class="w3-section">
            <button type="button" (click)="login()" class="w3-button w3-red w3-margin-top">LOGIN</button>
        </div>
    </div>
</div>