<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Email</title>
</head>

<header class="w3-container w3-blue w3-center w3-card" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo">Welcome to JSF Banking!</h1>
    <i class="w3-xlarge fa fa-user" style="font-size:120px"></i>
</header>

<body>

    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>USER PLACEHOLDER</h1>
                <h5 class="w3-padding-32">Thank you for choosing JSF Banking! JSF is most innovative/fastest
                    growing company in finance. We look forward to working with you to help you get the most out
                    of our financial inquries and realize your business goals of secure accounting.</h5>

                <p class="w3-text-grey">Our excellent customer support team is available 24/7 to help you with any
                    questions. You can contact them at sfofanaemailservice@gmail.com or +123456789.

                    Your satisfaction is a priority for us, so feel free to share any feedback you have – we take your
                    opinion seriously and will do our best to implement solutions for you.</p>
            </div>

            <div class="w3-third w3-center">
                <i class="fa fa-bank w3-xxxlarge w3-padding-64 w3-text-red" style="font-size:120px"></i>
            </div>
        </div>
    </div>

    <div class="w3-center w3-margin w3-row-padding">
        <div class="w3-content">
            <h2>Apply for an account</h2>
            <p>Choose between various accounts.</p><br>
            <div class="w3-half w3-margin-bottom">
                <ul class="w3-ul w3-border w3-hover-shadow">
                    <li class="w3-theme">
                        <p class="w3-xlarge">Banking</p>
                    </li>
                    <li class="w3-padding-16"><b><i class="fa fa-usd"></i> 50</b> overdraft fee</li>
                    <li class="w3-padding-16"><b><i class="fa fa-usd"></i> 10000</b> withdraw limit</li>
                    <li class="w3-padding-16"><b>3%</b> trust</li>
                    <li class="w3-padding-16">
                        <h2 class="w3-wide"><i class="fa fa-usd"></i> 0.00</h2>
                        <span class="w3-opacity">per month</span>
                    </li>
                    <li class="w3-theme-l5 w3-padding-24">
                        <button class="w3-button w3-teal w3-padding-large"><i class="fa fa-check"></i> Apply</button>
                    </li>
                </ul>
            </div>
            <div class="w3-half w3-margin-bottom">
                <ul class="w3-ul w3-border w3-hover-shadow">
                    <li class="w3-theme">
                        <p class="w3-xlarge">Credit</p>
                    </li>
                    <li class="w3-padding-16"><b><i class="fa fa-usd"></i> 5000</b> limit</li>
                    <li class="w3-padding-16">
                        <b<i class="fa fa-usd"></i> 50</b> late fee
                    </li>
                    <li class="w3-padding-16"><b>7%</b> arp</li>
                    <li class="w3-padding-16">
                        <h2 class="w3-wide"><i class="fa fa-usd"></i> 0.00</h2>
                        <span class="w3-opacity">per month</span>
                    </li>
                    <li class="w3-theme-l5 w3-padding-24">
                        <button class="w3-button w3-teal w3-padding-large"><i class="fa fa-check"></i> Apply</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
    <h4>Follow Us</h4>
    <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook"></i></a>
    <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
    <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i
            class="fa fa-google-plus"></i></a>
    <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-instagram"></i></a>
    <a class="w3-button w3-large w3-teal w3-hide-small" href="javascript:void(0)" title="Linkedin"><i
            class="fa fa-linkedin"></i></a>

    <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
        <span class="w3-text w3-padding w3-teal w3-hide-small">Go To Top</span>
        <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge">
                <i class="fa fa-chevron-circle-up"></i></span></a>
    </div>
</footer>

</html>