.search {
    margin-left: 50%;
    margin-top: 5%;
}

.results {
    margin-left: 45%;
    margin-top: 3%;
    max-width: 10%;
}

.all {
    margin-left: 30%;
    margin-top: 3%;
    max-width: 50%;
}

.add {
    margin-left: 45%;
    margin-top: 3%;
    max-width: 10%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }